#-----------------------
# general
#-----------------------

TEST/
*.html
*.o

#-----------------------
# prac
#-----------------------

data.txt
plot.gpi
test

#-----------------------
# contest
#-----------------------

*_contest
*_test
out.txt

